[Unit]
Description=Google Drive

[Service]
Type=simple
ExecStart= /home/dorrel/.config/hypr/utils/gdrive.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
